.logo {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-decoration: none;
  background: var(--accent);
  color: var(--background);;
  padding: 5px 10px;
  &__title {
    font-size: 2em;
  }
  &__sub {
    font-size: 1.4em;
    color: #444;
  }
}
